<% content_for :title do %>About<% end %>
<div class="container">
<h3 class="page-title">Some Things About Moi</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div class="about-div">
  <h3 class="horror-title">I love horror movies and video games</h3>
  <p class="horror-paragraph">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <!-- Horror movies divider and images -->
  <div class="content-seperator" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <h3 class="top-three">Top Three Horror Movies</h3>
  </div>
  <div class="row collapse" id="collapseExample">
    <div class="col-md-4"><img src="http://i.imgur.com/n4SF1ey.jpg?1" alt="Ex Machina" class="img-rounded">
      <p class="horror-paragraph text-center">
        Ex Machina
      </p>
    </div>
    <div class="col-md-4"><img src="http://i.imgur.com/VPEdhF4.jpg?1" alt="Evil Dead 2" class="img-rounded">
      <p class="horror-paragraph text-center">
        Evil Dead 2
      </p>
    </div>
    <div class="col-md-4"><img src="http://i.imgur.com/TYIrnCC.jpg?1" alt="The Thing" class="img-rounded">
      <p class="horror-paragraph text-center">
        The Thing
      </p>
    </div>
  </div>
  <!-- Horror games divider and images -->
  <div class="content-seperator" role="button" data-toggle="collapse" href="#collapseGames" aria-expanded="false" aria-controls="collapseGames">
    <h3 class="top-three">Top Three Horror Games</h3>
  </div>
  <div class="row collapse" id="collapseGames">
    <div class="col-md-4"><img src="http://i.imgur.com/3dAkAl9.jpg?1" alt="Dead Space" class="img-rounded">
      <p class="horror-paragraph text-center">
        Dead Space
      </p>
    </div>
    <div class="col-md-4"><img src="http://i.imgur.com/6URKnoT.jpg?2" alt="Left 4 Dead" class="img-rounded">
    <p class="horror-paragraph text-center">
      Left 4 Dead
    </p>
    </div>
    <div class="col-md-4"><img src="http://i.imgur.com/7kuFvMZ.jpg?1" alt="Alan Wake" class="img-rounded">
    <p class="horror-paragraph text-center">
      Alan Wake
    </p>
    </div>
  </div>
</div>
